/* General styles */
body {
    background-color: #696969;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align content to the top for better scrolling */
    height: auto; /* Allow the body height to adjust to content */
    min-height: 100vh; /* Ensure minimum height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Container styling */
.container {
    text-align: center;
    position: relative;
    width: 300px;
    margin: 20px auto; /* Add vertical margin for better appearance */
}

/* Image styling */
#kading {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add space below the image */
    margin-top: 50px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for hover effects */
}

#kading:hover {
    content: url('Images/kading-gold.png'); /* Change the image source on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

/* Button styling */
button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: color 0.3s, transform 0.2s; /* Transition for text color */
    margin: 10px 0;
    width: 100%;
}

button:hover {
    color: #FFD700; /* Change only the text color of the button being hovered */
    transform: scale(1.05); /* Slight zoom effect */
}

/* Button active state */
button:active {
    background-color: #e0e0e0;
    transform: scale(0.98);
}

/* Version label styling */
.version-label {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/* Mobile-specific adjustments */
@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
        padding: 0;
        height: auto;
        min-height: 100vh;
        overflow-y: auto; /* Ensure scrolling on smaller devices */
    }

    .container {
        width: 90%;
        max-width: 300px;
    }

    #kading {
        display: block;
        margin: 0 auto; /* Center the image horizontally */
        max-width: 100%;
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 20px; /* Add space below the image */
        transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for hover effects */
    }

    h2 {
        font-size: 20px;
        margin-top: 0;
    }

    button {
        font-size: 14px;
        padding: 8px 10px;
        width: 100%;
        margin: 8px 0;
    }
}
